// 你可以在这里换颜色
$theme-color: #ff7300;
// 代码上使用的字体
// $font-family-mono: "Nimbus Roman No9 L";
// 背景色
// $bg-color: red;
// 另一个浅背景色
// $bg-color-secondary: $theme-color;
// 另一个更浅的背景色
// $bg-color-tertiary: red;
// 边框颜色
// $border-color: red
// 元素阴影色
// $box-shadow: (
//   light: #f0f1f2,
//   dark: #282a32,
// ) !default;
// 卡片阴影色
// $card-shadow: (
//   light: rgb(0 0 0 / 15%),
//   dark: rgb(0 0 0 / 30%),
// ) !default;

/** 导航栏 */

// $navbar-height:  // 导航栏高度
// $navbar-horizontal-padding:  // 导航栏水平填充
// $navbar-vertical-padding:  // 导航栏垂直填充
// $navbar-mobile-height:  // 移动设备上的导航栏高度
// $navbar-mobile-horizontal-padding:  // 移动设备上的导航栏水平填充
// $navbar-mobile-vertical-padding:  // 移动设备上的导航栏垂直填充

/** 侧边栏样式 */

// $sidebar-width:  // 侧边栏宽度
// $sidebar-mobile-width:  // 移动设备侧边栏宽度

/** 主页 */

// $content-width:  // 主要内容的宽度
// $home-page-width:  // 主页内容的宽度

/** 字体 */

// $font-family:  // 普通文本上使用的字体
// $font-family-heading: // 用于标题元素的字体

/** 代码 */

// $font-family-mono:  // 代码上使用的字体
// $line-numbers-width:  // 代码块中行号的宽度

.home.project:not(.pure) .feature-item::before {
    content: " ";
    position: none;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background: none;
    transition: none;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -125%, 0);
}